// Colors
$grey: #333333;
$light-grey: #fafafa;
$light-grey-border: #eeeeee;
$light-color: #aaaaaa;
$light: #f0f0f0;
$light-subtext: #999;

//menubar
$menubar-background: #2099e8;
$menubar-color: $light;